<div id="parent">
<div class="main-div">
<img class="image" src = "assets/img/home.jpg">
</div>

<div class="inside-div">
    <mat-card>
      <mat-card-title>Login Page</mat-card-title>
    <mat-card-content>
      <form  >
          <p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field>
</p>


<div class="button">
  <button type="submit" mat-raised-button (click)="toHome()">Login</button>
</div>

</form>
</mat-card-content>
</mat-card>
</div>
</div>